.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body {
  margin: 0px;
}
.menu-background {
  display: none;
}
.menu-background-on {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
}
.menu {
  display: flex;
  justify-content: space-between;
  padding: 25px 16px 24px 16px;
}
.menu-icon {
  width: 32px;
  height: 18px;
}
.menu-icon-close {
  display: none;
}
.menu-icon-close-show {
  display: flex;
  align-self: flex-end;
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 1;
  padding-top: 22px;
  padding-right: 20px;
  margin-bottom: 32px;
}
.menu .general,
.menu .login-register {
  display: none;
}
.menu .general.mobile-show {
  display: flex;
  flex-direction: column;
  position: absolute;
  background: white;
  width: 216px;
  height: 100%;
  right: 0;
  top: 0;
  margin-top: 0px;
  padding-top: 78px;
  padding-left: 24px;
}
.features-list,
.company-list {
  display: none;
}
.list-active {
  display: block;
}
.nav-option {
  font-family: 'Epilogue', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 16px;
}
.nav-option a {
  color: #686868;
  text-decoration: none;
}
.nav-option-arrow {
  margin-left: 17px;
}
.nav-option-arrow-hide {
  display: none;
}
.nav-option-arrow-up {
  display: none;
}
.nav-option-arrow-up-active {
  display: inline;
  margin-left: 17px;
}
.features-list {
  padding-left: 24px;
}
.features-list li {
  display: block;
  margin-bottom: 16px;
}
.features-list li a {
  vertical-align: text-bottom;
}
.features-list li:first-child {
  margin-top: 24px;
}
.features-list li:last-child {
  margin-bottom: 8px;
}
.features-list img {
  width: 20px;
  padding-right: 15px;
}
.company-list {
  padding-left: 24px;
}
.company-list li {
  display: block;
  margin-bottom: 16px;
}
.company-list li:first-child {
  margin-top: 18px;
}
.company-list li:last-child {
  margin-bottom: 8px;
}
.login-register {
  display: flex;
  margin-left: auto;
}
ul {
  list-style-type: none;
}
.hero {
  display: flex;
  flex-direction: column-reverse;
}
.hero-banner-desktop {
  display: none;
}
.hero .hero-copy{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero h1 {
  font-family: 'Epilogue', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  margin-top: 47px;
  margin-bottom: 16px;
}
.hero h2 {
  font-family: 'Epilogue', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #686868;
  width: 350px;
  margin-top: 0px;
  margin-bottom: 24px;
}
.hero button {
  width: 136px;
  height: 48px;
  border: none;
  border-radius: 15px;
  background: #151515;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  color: #FAFAFA;
  margin-bottom: 48px;
}
.hero .brand-logos {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.hero img.databiz {
  width: 81.25px;
  height: 14.36px;
}
.hero img.audiophile {
  width: 52.87px;
  height: 26px;
}
.hero img.meet {
  width: 64.14px;
  height: 14.36px;
}
.hero img.maker {
  width: 58.9px;
  height: 17.23px;
}
.hero img.hero-banner {
  width: 100%;
}

/*desktop*/
@media (min-width: 1100px) {
  .menu {
    align-items: center;
    padding: 21px 40px;
    padding-bottom: 67px;
  }
  .menu img.logo {
    width: 83.5px;
    height: 26.58px;
    padding-top: 11px;
  }
  .menu .general,
  .menu .login-register {
    display: flex;
  }
  .general {
    margin-top: 0px;
    margin-bottom: 0px;
    align-items: center;
    padding-left: 62px;
  }
  .menu-icon {
    display: none;
  }
  .nav-option {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 0px;
    margin-right: 40px;
  }
  .nav-option a:hover {
    color: #151515;
  }
  .nav-option-arrow {
    margin-left: 9px;
  }
  .nav-option-arrow-up-active {
    margin-left: 9px;
  }
  .features-list {
    position: absolute;
    /*width: 153px;
    height: 160px;*/
    background: #FFFFFF;
    box-shadow: 0px 10px 40px rgb(0 0 0 / 15%);
    border-radius: 10px;
    margin-top: 20px;
    padding: 24px;
    left: 119px;
  }
  .features-list li:first-child {
    margin-top: 0px;
  }
  .features-list li:last-child {
    margin-bottom: 0px;
  }
  .features-list img {
    width: 16px;
    padding-right: 14px;
  }
  .company-list {
    position: absolute;
    /*width: 153px;
    height: 160px;*/
    background: #FFFFFF;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.149126);
    border-radius: 10px;
    margin-top: 20px;
    padding: 24px;
    left: 311px;
  }
  .features-list li {
    display: block;
    margin-bottom: 16px;
  }
  .company-list li:first-child {
    margin-top: 0px;
  }
  .company-list li:last-child {
    margin-bottom: 0px;
  }
  .login-register {
    margin-top: auto;
    margin-bottom: auto;
    align-items: center;
  }
  .login-register li a {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #686868;
    text-decoration: none;
  }
  .login-register li.register {
    border: 1.5px solid #686868;
    box-sizing: border-box;
    border-radius: 14px;
    padding: 13px 22px;
  }
  .login-register li.register:hover {
    border: 1.5px solid #151515;
    box-sizing: border-box;
    border-radius: 14px;
    padding: 13px 22px;
    cursor: pointer;
  }
  .login-register li a:hover {
    color: #151515;
    cursor: pointer;
  }
  .login-register .login {
    margin-right: 40px;
  }
  .hero {
    flex-direction: row;
  }
  .hero-banner {
    display: none;
  }
  .hero-banner-desktop {
    display: block;
    width: 480px;
  }
  .block {
    display: block;
  }
  .hero-and-brands {
    width: 57.7%;
    align-self: end;
  }
  .hero .hero-copy {
    text-align: left;
    align-items: flex-start;
    padding-left: 165px;
  }
  .hero h1 {
    font-family: 'Epilogue', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 80px;
    letter-spacing: -1.11111px;
    margin-top: 0px;
    margin-bottom: 48px;
  }
  .hero h2 {
    font-family: 'Epilogue', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #686868;
    width: 450px;
    margin-bottom: 51px;
  }
  .hero button {
    width: 163px;
    height: 56px;
    border: none;
    border-radius: 15px;
    background: #151515;
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #FAFAFA;
    margin-bottom: 108px;
  }
  .hero button:hover {
    background: white;
    color: black;
    border: 1px solid #151515;
    box-sizing: border-box;
  }
  .hero .brand-logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 477px;
    padding-left: 165px;
  }
  .hero img.databiz {
    width: 113.14px;
    height: 20px;
  }
  .hero img.audiophile {
    width: 73px;
    height: 35.9px;
  }
  .hero img.meet {
    width: 89.31px;
    height: 20px;
  }
  .hero img.maker {
    width: 82.01px;
    height: 24px;
  }